.vs
*/*/Debug/*
*/*/Release/*
*/Debug/*
*/Release/*
Debug/*
Release/*
Debug/*.exe
Release/*.exe
Debug/*.ilk
Release/*.ilk
Debug/*.pdb
Release/*.pbd
CGALib/ide/CGALib/Debug/*
RemoteSystemsTempFiles/
.metadata/
NotIncluded/*
models/Elena_PT1_blend/Elena PT1.jpg
models/Elena_PT1_blend/Elena PT1.blend
